body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 0; /* Or set a specific smaller value, such as 10px, to adjust according to your needs
 */
}

nav {
    background-color: #000;
    height: 60px; /* You can adjust this value as needed
 */
    line-height: 60px; /* Center the text vertically
 */
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #000; /* New: Set navigation bar background to black
 */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    display: inline-block; /* Make sure the link behaves properly when vertically centered
 */
    padding: 0 15px; /* Adjust the left and right padding as needed
 */
}

.hero-banner {
    background-size: cover; /* Keep the picture filling container while maintaining the aspect ratio
 */
    background-position: center center; /* The image is displayed in the center
 */
    color: white;
    text-align: center;
    padding: 0 0; /* Adjust the padding as needed
 */
    width: 100%; 
    height: 400px;
}

#loginForm, #registrationForm {
    width: 300px;
    margin: 50px auto;
    text-align: left;
}

#loginForm label, #loginForm input,
#registrationForm label, #registrationForm input {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    width: 300px;
    margin: 50px auto;
    margin-top: 30px; /* Add some top padding after hero-banner, adjust as needed
 */
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

footer {
    background-color: #000; /* New: Set footer background to black
 */
    color: #fff; /* New: Set footer text color to white
 */
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer a {
    color: #fff; /*  */
    text-decoration: underline;
}

/*  */
footer a:hover {
    color: #ccc;
}


.details-container {
    width: 80%;
    margin: 50px auto;
    text-align: left;
}

#cookieList {
    list-style: none;
    padding: 0;
}

.cookie-item {
    margin-bottom: 10px;
}

.delete-button {
    color: red;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
}

.products {
    display: flex; /*  */
    justify-content: space-around; /*  */
  }
  
  .product {
    text-align: center;
    margin: 10px;
  }
  
  .quantity-input {
    width: 50px;
  }
  
  .separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .cart {
    text-align: center;
  }
  
  #cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-remove {
    cursor: pointer;
    color: red;
  }
